body{
    background: #45484D;
    padding: 19px;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

@media(min-width: 360px){
    .calculator{
        width: 320px;
        height: auto;
        background-color: #282927;
        margin: 0 auto; //para centrar en la pantalla
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid black;
        text-align: center;
    
        &__screen{
            width: 90%;
            height: 100px;
            font-size: 50px;
            padding: 0;
            border: 0;
            border-radius: 6px;
            color: white;
            text-align: right;
            background: transparent;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
        }
    
        &__ketpad{
            border-top: 1px solid black;
        }
    }
    
    .btn{
        background-color: #5d5d5c;
        width: 80px;
        height: 80px;
        float: left;
        font-size: 30px;
        color: white;
        text-align: center;
        font-weight: 300;
        border: 0;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    
        &--double{
            width: 160px;
            text-align: left;
            padding-left: 30px;
        }
    
        &--dark{
            background-color: #3c3d3c;
        }
    
        &--orange{
            background-color: #ff940e;
        }
    
        &:nth-child(4n),
        &:last-child{
            border-right: 0;
        }
    
        &:focus{
            outline: none;
        }
    
        &:active{
            opacity: 0.5;
        }
    
    }
}




