body {
  background: #45484D;
  padding: 19px;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 360px) {
  .calculator {
    width: 320px;
    height: auto;
    background-color: #282927;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
  }
  .calculator__screen {
    width: 90%;
    height: 100px;
    font-size: 50px;
    padding: 0;
    border: 0;
    border-radius: 6px;
    color: white;
    text-align: right;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  .calculator__ketpad {
    border-top: 1px solid black;
  }
  .btn {
    background-color: #5d5d5c;
    width: 80px;
    height: 80px;
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 300;
    border: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .btn--double {
    width: 160px;
    text-align: left;
    padding-left: 30px;
  }
  .btn--dark {
    background-color: #3c3d3c;
  }
  .btn--orange {
    background-color: #ff940e;
  }
  .btn:nth-child(4n), .btn:last-child {
    border-right: 0;
  }
  .btn:focus {
    outline: none;
  }
  .btn:active {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=styles.css.map */